<form name="calculator" action="calculate" method="POST" onsubmit="return validateForm()">
<fieldset>
	<legend>Time-Value of Money</legend>
	<p><label class="field" for="p_init"
>Starting principal:</label>
<input type="text" name="p_init" class="textbox-300" {% if p_init %} value="{{ p_init }}" {% endif %} > <br />
	<p><label class="field" for="rate">Interest rate:</label>
<select name="rate">
<option selected >--</option>
<option value=0.5 {% if rate and rate == 0.5 %} selected {% endif %} >0.5%</option>
<option value=1.0 {% if rate and rate == 1.0 %} selected {% endif %} >1.0%</option>
<option value=1.5 {% if rate and rate == 1.5 %} selected {% endif %} >1.5%</option>
<option value=2.0 {% if rate and rate == 2.0 %} selected {% endif %} >2.0%</option>
<option value=2.5 {% if rate and rate == 2.5 %} selected {% endif %} >2.5%</option>
<option value=3.0 {% if rate and rate == 3.0 %} selected {% endif %} >3.0%</option>
<option value=3.5 {% if rate and rate == 3.5 %} selected {% endif %} >3.5%</option>
<option value=4.0 {% if rate and rate == 4.0 %} selected {% endif %} >4.0%</option>
<option value=4.5 {% if rate and rate == 4.5 %} selected {% endif %} >4.5%</option>
<option value=5.0 {% if rate and rate == 5.0 %} selected {% endif %} >5.0%</option>
<option value=5.5 {% if rate and rate == 5.5 %} selected {% endif %} >5.5%</option>
<option value=6.0 {% if rate and rate == 6.0 %} selected {% endif %} >6.0%</option>
<option value=6.5 {% if rate and rate == 6.5 %} selected {% endif %} >6.5%</option>
<option value=7.0 {% if rate and rate == 7.0 %} selected {% endif %} >7.0%</option>
<option value=7.5 {% if rate and rate == 7.5 %} selected {% endif %} >7.5%</option>
<option value=8.0 {% if rate and rate == 8.0 %} selected {% endif %} >8.0%</option>
<option value=8.5 {% if rate and rate == 8.5 %} selected {% endif %} >8.5%</option>
<option value=9.0 {% if rate and rate == 9.0 %} selected {% endif %} >9.0%</option>
<option value=9.5 {% if rate and rate == 9.5 %} selected {% endif %} >9.5%</option>
<option value=10.0 {% if rate and rate == 10.0 %} selected {% endif %} >10.0%</option>
</select> 
	<p><label class="field" for="duration">Duration:</label>
<input type="text" name="duration" class="textbox-60" {% if duration %} value="{{ duration }}" {% endif %} >&nbsp;years
	<p><label class="field" for=" p_final">Ending principal:</label>
<input type="text" name="p_final" class="textbox-300" {% if p_final %} value="{{ p_final }}" {% endif %} > <br />
<p>
<div style="text-align:center">
<input type="submit" value="Calculate">
<a href="reset"><input type="button" value="Clear Form""></a>
</div>
{% if msg %}
<br /> &nbsp;
<div style="text-align:center">
{{ msg }}
</div>
{% endif %}
</fieldset>
</form>
